{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="home-header">
        <h1>Accueil</h1>
    </section>
    <section>
        <h2>Semaine en cours</h2>
        <div class="home-content">
            <a href="{{ path('actual_lunch') }}">
                <p>
                    <i class="fad fa-utensils-alt"></i>
                    <br>
                    Déjeuner</p>
            </a>
            <a href="{{ path('actual_dinner') }}">
                <p>
                    <i class="fad fa-utensils-alt"></i>
                    <br>
                    Diner
                </p>
            </a>
            <a href="{{ path('actual_lunch') }}">
                <p>
                    <i class="fad fa-print"></i>
                    <br>
                    Imprimer
                </p>
            </a>
        </div>
        <h2>Gestion</h2>
        <div class="home-content">
            <a href="{{ path('actual_lunch') }}">
                <p>
                    <i class="fad fa-tools"></i>
                    <br>
                    Administration
                </p>
            </a>
            <a href="{{ path('weeks') }}">
                <p>
                    <i class="fad fa-calendar-week"></i>
                    <br>
                    Semaines</p>
            </a>
            <a href="{{ path('actual_lunch') }}">
                <p>
                    <i class="fad fa-calendar-week"></i>
                    <br>
                    Mois</p>
            </a>
        </div>
    </section>
{% endblock %}
