{% extends 'base.html.twig' %}

{% block title %}Semaines{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block body %}
    <section class="pt-4">
        <h2 class="text-lg font-semibold font-display">Semaine du {{ start|format_datetime(locale='fr',pattern="dd MMMM") }} au {{ end|format_datetime(locale='fr',pattern="dd MMMM") }}</h2>
    </section>
    <section class="menu-content portrait">
        <table class="bordered">
            <thead>
            <tr>
                <th>Jours</th>
                <th>Déjeuner</th>
                <th>Diner</th>
            </tr>
            </thead>
            <tbody>
            {% for day in week %}
                <tr>
                    <th>{{ day.dateOfService|format_datetime(locale='fr',pattern="dd MMMM") }}</th>
                    <td class="divide-y-2">
                        <p class="starter py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.lunch.starters.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.lunch.dishes.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.lunch.accompagnements.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.lunch.laitiers.toArray
                            } %}
                        </p>
                        <p class="dessert py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.lunch.desserts.toArray
                            } %}
                        </p>
                    </td>
                    <td>
                        <p class="starter py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.dinner.starters.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.dinner.dishes.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.dinner.accompagnements.toArray
                            } %}
                        </p>
                        <p class="dish py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.dinner.laitiers.toArray
                            } %}
                        </p>
                        <p class="dessert py-2">
                            {% include 'components/_menu-content.html.twig' with {
                                dishType: day.dinner.desserts.toArray
                            } %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p class="text-xs">Sous réserve des approvisionements et des arrivages primeurs.</p>
    <p class="text-xs">Tous nos plats sont suceptibles de contenir des traces de fruits à coques.</p>
    {% include 'components/_menu-legend.html.twig' %}
{% endblock %}
